<html>
    <head>
        <title>Sign-Up</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
      <p><h1>Don't have an account?</h1></p>
      <p><h2>SIGN-UP TO POST YOUR FAVORITE SONGS!</h2></p>

       
      Enter your new username and password
        <form action="/signup" method="POST">
            <label for="name">Name</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Sign Up">
        </form>



    </body>
</html>
